{
  "presets": ["@nrwl/react/babel"],
  "plugins": [
    ["styled-components", { "pure": true, "ssr": true }],
    [
      "module-resolver",
      {
        "alias": {
          "^@cenk1cenk2/react-template-dashboard/?(.*)": "./\\1"
        }
      }
    ]
  ]
}
